/*================ /RESET ===============*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* убрал в ссылках все подчеркивания */
.link,
.logo {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}
/* класс чтобы убрать в списках марикровку */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  display: block;
  cursor: pointer;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/*================ /ROOT ===============*/

:root {
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bcg-modal: rgba(94, 99, 99, 0.7);
  --yellow-main: #ffe550;
  --bodrer-btn-close: rgba(0, 0, 0, 0.1);
  --primary-font-family: "Roboto", sans-serif;
  --primary-text-color: #2c2c2c;
  --dark-green-color: #7eb101;
  --primary-bcg-color: #fefefe;
  --yellow-hover-color: #ffe450;
  --text-hover-color: #bbf330;
}
/*================ /CONTAINER ===============*/

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  width: 1280px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-bcg-color);
}
/*================ /START MARYNA ===============*/
/*================ /FINISH MARYNA ===============*/

/*================ START VITALIY ===============*/

.section-hero {
  position: relative;
}

.hero-box {
  padding-top: 160px;
  padding-bottom: 164px;
  width: 502px;
}

.hero-title {
  margin-bottom: 28px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #2c2c2c;
}

.hero-title::before {
  content: "";
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 7px;
  background: #d9d9d9;
}

.text-hero {
  margin-bottom: 40px;
}

.section-menu {
  padding-top: 100px;
  padding-bottom: 100px;
}

.titel-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  color: #2c2c2c;
  padding-bottom: 20px;
}

.description-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  color: #2c2c2c;
}

.btn-order {
  width: 98px;
  height: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  background-color: #bbf330;
  border-radius: 30px;
  border: 0px;
}

/* ============slider=========== */

.swiper {
  position: absolute;

  top: 14px;
  right: 16px;

  width: 580px;
  height: 580px;
}

.swiper .item {
  width: 100%;
  height: 100%;
  padding: 26px;
  overflow: hidden;

  background: #fefefe;
  border: 26px solid var(--yellow-main);
  border-radius: 300px;
}

/* =======================Modal window============== */

.backdrop-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms var(--time-function);
  z-index: 500;

  background-color: var(--bcg-modal);
}

.backdrop-modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  width: 458px;
  height: 449px;
  padding: 32px;
  background-color: var(--yellow-main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
}

.btn-close {
  position: absolute;
  display: flex;

  top: 12px;
  right: 12px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--time-function);
}

.btn-close:hover {
  background-color: #bbf330;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #2c2c2c;
}

.input-type {
  display: block;
  width: 100%;
}

/*================ /START KSENIIA ===============*/
.lower-cont {
  position: relative;
  top: -161px;
  display: flex;
  align-items: center;
  background-image: url(../images/Rectangle694.svg);
  background-size: cover;
  column-gap: 90px;
}

.lower-cont-l {
  position: relative;
  width: 550px;
  height: 550px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.apple-cont {
  padding: 24px 24px;
  width: 502px;
  height: 502px;
  background-image: url(../images/Ellipse-background.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.apple-img {
  position: absolute;
  left: 84px;
  bottom: 102px;
  width: 396px;
  height: 502px;
  z-index: 5;
}

.apple-shadow {
  width: 352px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform: translate(30%, -20%);
  z-index: 4;
}

.lower-cont-r {
  max-width: 573px;
  padding-top: 260px;
}

.hero-subhead {
  max-width: 526.17px;

  font-weight: 700;
  font-size: 42px;
  line-height: 120%;

  margin-bottom: 20px;
}

.descrip {
  max-width: 500px;
  line-height: 1.5;
}

.special-upper-part {
  margin-bottom: 40px;
}

.special-item-text {
  line-height: 1.5;
}

.hero-modal-btn {
  display: block;
  cursor: pointer;

  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
  background-color: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 22px;
  margin-bottom: 100px;
}

.hero-special-list {
  display: flex;
  column-gap: 67px;
}

.special-item-text {
  line-height: 1.5;
  margin-bottom: 32px;
}

.hero-sub-descrip {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 16px;
  margin-top: 8px;
}

/*================ FINISH KSENIIA ===============*/

/* ================Menu========== */
.section-menu {
  padding-top: 100px;
  padding-bottom: 100px;
}
.titel-menu {
  font-family: “Roboto”;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  color: #2c2c2c;
  padding-bottom: 20px;
}
.description-menu {
  font-family: “Roboto”;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2c2c2c;
  padding-bottom: 40px;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
}
.menu-box {
  width: 395px;
  height: 397px;
  padding: 41px 40px;
  overflow: hidden;
  background: #fefefe;
  border: 16px solid #ffe550;
  border-radius: 197.5px;
}
.menu-list .item:not(:nth-child(3n)) {
  margin-right: 32px;
}
.menu-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 32px;
}

/*================ FINISH VITALIY ===============*/

/*================ START DMYTRO K ===============*/
/*================ FINISH DMYTRO K ===============*/

/*================ START DMYTRO ZHD ===============*/
.footer {
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  background-image: url(../images/fb1.png), url(../images/fb2.png),
    url(../images/fb3.png), url(../images/fb4.png), url(../images/fb5.png),
    url(../images/fb6.png), url(../images/fb7.png), url(../images/fb8.png);
  background-repeat: no-repeat;
  /* background-position: bottom left 216px, bottom right 16px, bottom right 134px, bottom left 53px,
    bottom left 340px, bottom center, bottom right 282px, bottom left 310px; */
  background-position: bottom left 23.82%, bottom right 4.1%,
    bottom right 17.58%, bottom left 11.79%, bottom left 47.11%, bottom center,
    bottom right 25.43%, bottom left 32.88%;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer-menu {
  display: flex;
}

.logo {
  margin-right: 148px;
}

/* .logo-icon {
  width: 66px;
  height: 52px;
  
} */

.nav-list {
  display: flex;
  gap: 28px;
  padding-top: 18px;
}

.nav-item {
  font-size: 14px;
  line-height: 1.17;
}

.nav-item:is(:hover, :focus) {
  color: var(--text-hover-color);
  text-decoration: underline;
}

.nav-link {
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.ftr-sbscr-form {
  display: flex;
  justify-content: flex-end;
  gap: 13px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.btn-light {
  padding: 11px 22px;
  border: 2px solid var(--dark-green-color);
  border-radius: 30px;
  background-color: #ffffff;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
}

.btn-light:is(:hover, :after) {
  border: 2px solid #ffe450;
}

.footer-text {
  font-size: 12px;
  line-height: 1.17;
}

.privacy-link {
  color: var(--dark-green-color);
  text-decoration: underline;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.privacy-list {
  display: flex;
  gap: 20px;
  font-size: 12px;
  line-height: 1.17;
}

.copyright-text {
  font-size: 12px;
  line-height: 1.17;
}
/*================ FINISH DMYTRO ZHD ===============*/
