<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <section class="section-hero">
      <div class="container">
        <div class="hero-box">
          <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </p>
          <button class="btn-order">Order Now</button>
        </div>

        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="item swiper-slide">
              <img
                src="../images/Foto_first.jpg"
                alt="meat"
                width="528"
                height="528"
                class="disches"
              />
            </div>
            <div class="item swiper-slide">
              <img
                src="../images/Foto_second.jpg"
                alt="salat"
                width="528"
                height="528"
              />
            </div>
            <div class="item swiper-slide">
              <img
                src="../images/Foto_third.jpg"
                alt="eggs"
                width="528"
                height="528"
              />
            </div>
          </div>
          <!-- ====================SWIPER================ -->
          <!-- нумерация -->
          <!--<div class="swiper-pagination"></div>-->

          <!-- Стрелочки   -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- Скрол бар -->
          <!--<div class="swiper-scrollbar"></div>-->
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../js/slider.js"></script>
  </body>
</html>
