<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
<section>
<div class="container lower-cont">
    <div class="lower-cont-l">
        <div class="apple-cont">
            <img class="apple-img" src="./images/apple.png" alt="apple">
            <img class="apple-shadow" src="/images/Ellipse 4.png" alt="shadow">
        </div>
    </div>
    <div class="lower-cont-r">
        <div class="special-upper-part">
        <h2 class="hero-subhead">What’s Special About Our Offerings</h2>
        <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        </div>
        <ul class="hero-special-list list">
            <li class="hero-special-item">
                <a href="" class="special-item-link">
                <svg class="delivery-icon" width="48" height="48">
                    <use href="/images/symbol-defs.svg#icon-Icon-Deliv"></use>
                </svg>
                </a>
                <h3 class="hero-sub-descrip">Fasest Delivery</h3>
                <p class="special-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
            <li class="hero-special-item">
                <a href="" class="special-item-link">
                <svg class="order-icon" width="48" height="48">
                    <use href="/images/symbol-defs.svg#icon-Icon-Order"></use>
                </svg>
                </a>
                <h3 class="hero-sub-descrip">Easy To Order</h3>
                <p class="special-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
        </ul>
        <button type="button" class="hero-modal-btn">Order Now</button>
    </div>
</div>
</section>
</body>
</html>


